@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?s2bhwo') format('truetype'),
    url('fonts/icomoon.woff?s2bhwo') format('woff'),
    url('fonts/icomoon.svg?s2bhwo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hash:before {
  content: "\e924";
}
.icon-equalizer:before {
  content: "\e930";
}
.icon-menu1:before {
  content: "\e931";
}
.icon-menu2:before {
  content: "\e932";
}
.icon-cog:before {
  content: "\e933";
}
.icon-chevron-right:before {
  content: "\e92e";
}
.icon-right:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-left:before {
  content: "\e92f";
}
.icon-cross2:before {
  content: "\e929";
}
.icon-cross-square:before {
  content: "\e92a";
}
.icon-cross-circle:before {
  content: "\e92b";
}
.icon-plus2:before {
  content: "\e92c";
}
.icon-cross3:before {
  content: "\e92d";
}
.icon-trash:before {
  content: "\e928";
}
.icon-bin:before {
  content: "\e928";
}
.icon-remove:before {
  content: "\e928";
}
.icon-waste:before {
  content: "\e928";
}
.icon-plus:before {
  content: "\e925";
}
.icon-add:before {
  content: "\e925";
}
.icon-cross:before {
  content: "\e925";
}
.icon-plus-circle:before {
  content: "\e926";
}
.icon-plus1:before {
  content: "\e926";
}
.icon-cross1:before {
  content: "\e926";
}
.icon-eye-plus:before {
  content: "\e927";
}
.icon-eye:before {
  content: "\e927";
}
.icon-vision:before {
  content: "\e927";
}
.icon-view:before {
  content: "\e927";
}
.icon-eye-add:before {
  content: "\e927";
}
.icon-bullhorn:before {
  content: "\e923";
}
.icon-pen:before {
  content: "\e922";
}
.icon-write:before {
  content: "\e922";
}
.icon-edit:before {
  content: "\e922";
}
.icon-user:before {
  content: "\e915";
}
.icon-ellipsis:before {
  content: "\e916";
}
.icon-envelope-open:before {
  content: "\e917";
}
.icon-envelope:before {
  content: "\e918";
}
.icon-alarm-ringing:before {
  content: "\e919";
}
.icon-bell:before {
  content: "\e919";
}
.icon-alarm:before {
  content: "\e91a";
}
.icon-bell1:before {
  content: "\e91a";
}
.icon-pencil:before {
  content: "\e91b";
}
.icon-write1:before {
  content: "\e91b";
}
.icon-edit1:before {
  content: "\e91b";
}
.icon-earth:before {
  content: "\e91c";
}
.icon-globe:before {
  content: "\e91c";
}
.icon-international:before {
  content: "\e91c";
}
.icon-language:before {
  content: "\e91c";
}
.icon-glasses:before {
  content: "\e91d";
}
.icon-vision1:before {
  content: "\e91d";
}
.icon-optometry:before {
  content: "\e91d";
}
.icon-reading:before {
  content: "\e91d";
}
.icon-pen1:before {
  content: "\e91e";
}
.icon-write11:before {
  content: "\e91e";
}
.icon-edit11:before {
  content: "\e91e";
}
.icon-pencil1:before {
  content: "\e91f";
}
.icon-write2:before {
  content: "\e91f";
}
.icon-edit2:before {
  content: "\e91f";
}
.icon-paper-plane:before {
  content: "\e920";
}
.icon-mail:before {
  content: "\e920";
}
.icon-flight:before {
  content: "\e920";
}
.icon-fly:before {
  content: "\e920";
}
.icon-send:before {
  content: "\e920";
}
.icon-binoculars:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e914";
}
.icon-envelope-1:before {
  content: "\e911";
}
.icon-lock:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e934";
}
.icon-person:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-google:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-brand-letter:before {
  content: "\e910";
}
.icon-v:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-bell2:before {
  content: "\e900";
}
.icon-brand:before {
  content: "\e901";
}
.icon-brand-stamp:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-envelope1:before {
  content: "\e903";
}
.icon-glasses1:before {
  content: "\e904";
}
.icon-pen11:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-reply:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-share:before {
  content: "\e909";
}
.icon-stamp:before {
  content: "\e90a";
}
.icon-vouch:before {
  content: "\e90b";
}
